:root {
  --background-main-color: #c2e7da;
  --background-secondary-color: #600;
  --background-small-items: #060;
  --main-color: #6290c3;
  --text-color: #000046;
}

.container {
  background-color: var(--background-main-color);
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.main-title {
  font-weight: 500;
}

.main {
  padding-top: 20px;
}
.main-header {
  text-align: center;
}
